.header {
  height: 70px;
  min-width: 250px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__mainlogo img {
  position: absolute;
  top: 0;
  width: 125px;
  cursor: pointer;
}
.header .header__github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.background {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.89;
}

.nav__wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.nav__wrap .nav {
  width: 90%;
  height: 90%;
  min-width: 250px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
}
@media screen and (max-width: 520px) {
  .nav__wrap .nav {
    flex-direction: column;
  }
}
.nav__wrap .nav .nav__left_forest {
  width: 45%;
  height: 50%;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: 2.5%;
  cursor: pointer;
  box-shadow: -5px 5px 1px rgba(255, 159, 14, 0.3), 5px -5px 1px rgba(255, 159, 14, 0.3);
  transition: all 0.35s ease-in-out;
}
.nav__wrap .nav .nav__left_forest:hover {
  transform: scale(1.1);
}
.nav__wrap .nav .nav__left_forest img {
  border-radius: 25%;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1500px) {
  .nav__wrap .nav .nav__left_forest {
    height: 45%;
  }
}
@media screen and (max-width: 1024px) {
  .nav__wrap .nav .nav__left_forest {
    height: 40%;
  }
}
@media screen and (max-width: 800px) {
  .nav__wrap .nav .nav__left_forest {
    height: 30%;
  }
}
@media screen and (max-width: 520px) {
  .nav__wrap .nav .nav__left_forest {
    width: 85%;
    height: 35%;
    margin-right: 0%;
    margin: 1rem 0;
  }
}
.nav__wrap .nav .nav__right_wisp {
  width: 45%;
  height: 50%;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 2.5%;
  cursor: pointer;
  box-shadow: 5px 5px 1px rgba(55, 135, 255, 0.3), -5px -5px 1px rgba(55, 135, 255, 0.3);
  transition: all 0.35s ease-in-out;
}
.nav__wrap .nav .nav__right_wisp:hover {
  transform: scale(1.1);
}
.nav__wrap .nav .nav__right_wisp img {
  border-radius: 10%;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1500px) {
  .nav__wrap .nav .nav__right_wisp {
    height: 45%;
  }
}
@media screen and (max-width: 1024px) {
  .nav__wrap .nav .nav__right_wisp {
    height: 35%;
  }
}
@media screen and (max-width: 800px) {
  .nav__wrap .nav .nav__right_wisp {
    height: 30%;
  }
}
@media screen and (max-width: 520px) {
  .nav__wrap .nav .nav__right_wisp {
    width: 85%;
    height: 35%;
    margin-right: 0%;
    margin: 1rem 0;
  }
}

.container {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=Main.module.css.map */