@import "../main/mixin.module.scss";
@import "../scroll/scroll.module.scss";

.container {
    @include setBoxSize(100vh, 100%);
    min-height: 350px;

    .site_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000;

        .wisp_logo {
            position: absolute;
            border-radius: 50%;
            padding: 1.5rem;
            z-index:2;
            
            // 70px: header
            top: calc(50% + 70px);
            left: 50%;

            // 페이지 별 메인 로고 뒷배경 shadow
            @include logo-shadow;

            // forest page: set main logo position, scale animation
            transition: all 0.5s ease;
            transform: translate(-50%, -50%);

            
            @media #{$width-medium} {
                box-shadow: none;
                animation: none;
                padding: 0;
            }

            @media screen and (max-height: 560px) {
                display: none;
            }

            img {
                width: 100%;
                transition: all 0.5s ease;

                &:hover {
                    transform: scale(1.2);

                    @media #{$width-medium} {
                        transform: scale(1.1);
                    }
                }
            }

        }

        section {
            width: 100%;
            padding: 7rem 0;
            border: none;

            // section영역 box shadow
            @include section-box-shadow(rgb(65, 94, 255), rgb(121, 168, 255), rgb(161, 194, 255));
            
            @media #{$width-large} {
                box-shadow:
                    0 0 5px 1px white,
                    inset 0 0 14px 0 white,
                    inset -10px 0px 30px 0 rgb(121, 168, 255),
                    inset 10px 0px 30px 0 rgb(121, 168, 255),
            }

            .box {
                margin: 0 auto;
                display: flex;
                width: 90%;
                align-items: center;
                justify-content: space-around;

                @media #{$width-large} {
                    flex-direction: column;
                }

                // left: 55%, right: 35%;
                .left_box {
                    width: 55%;

                    @media #{$width-large} {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

                    img {
                        width: 100%;
                        border-radius: 1rem;
                        border: none;
                        box-shadow:
                            0 0 10px 0 white,
                            1px 1px 10px 0 rgba(255, 255, 255, 0.7),
                            -1px -1px 10px 0 rgb(0, 0, 0);

                        @media #{$width-large} {
                            width: 80%;
                        }
                    }
                }

                .right_box {
                    border: 1px solid rgba(255, 255, 255, 0.7);
                    border-radius: 10px;
                    box-shadow:
                        0 0 10px 1px white,
                        3px 3px 15px 3px rgba(255, 255, 255, 0.7),
                        -3px -3px 15px 3px rgb(0, 0, 0);

                    padding: 1.5rem;
                    background-color: aliceblue;
                    width: 35%;

                    @media #{$width-large} {
                        width: 85%;
                        padding: 1rem;
                        margin-top: 2rem;
                        box-shadow:
                            1px 1px 7px 0 white,
                            -1px 1px 7px 0 white,
                            1px 3px 15px 0 rgba(255, 255, 255, 0.7),
                            1px -3px 15px 0 rgb(0, 0, 0)
                    }

                    h1 {
                        font-size: 1.2rem;
                        margin-bottom: 1rem;
                        font-weight: 700;
                    }

                    p {
                        font-size: 0.8rem;
                        line-height: 1.15;
                    }
                }
            }
        }
    }
}


.image0 {
    @include section_img("topIcon", 192px, 192px);
}

.image1 {
    @include section_img("peaceful");
}

.image2 {
    @include section_img("deadForest");
}

.image3 {
    @include section_img("adventureStart");
}

.image4 {
    @include section_img("meetShine");
}

.image5 {
    @include section_img("gumo");
}

.image6 {
    @include section_img("tree");
}

.image7 {
    @include section_img("smoke");
}

.image8 {
    @include section_img("wind");
}

.image9 {
    @include section_img("woe");
}

.image10 {
    @include section_img("recovery");
}

.image11{
    @include section_img("mountain");
}

.image12{
    @include section_img("kuro");
}

.image13{
    @include section_img("kuro2");
}

.image14{
    @include section_img("forestEnd");
}

.background{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}